<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLAUDE_API_KEY</key>
	<string>$(CLAUDE_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMMono-Light.ttf</string>
		<string>DMMono-Regular.ttf</string>
		<string>DMMono-Medium.ttf</string>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>DMSerifDisplay-Italic.ttf</string>
	</array>
</dict>
</plist>
